.maze-grid {
    display: grid;
    grid-template-columns: repeat(5, 50px); /* 5 columns, adjust the number for a larger maze */
    grid-template-rows: repeat(5, 50px); /* 5 rows, adjust the number for a larger maze */
    gap: 2px; /* Space between cells */
}

.cell {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pathway {
    background-color: #333; /* Dark pathways */
}

.wall {
    background-color: #999; /* Distinguishable walls */
}

.interactive.mirror {
    background-image: url('https://i.imgur.com/Zfjw2I4.png');
    background-size: cover;
}

.interactive.lens {
    background-image: url('https://i.imgur.com/rjXBpDC.png');
    background-size: cover;
}
