.maze-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* Adjust based on grid size */
    gap: 2px;
    background-color: #4C9A2A; /* Eco-green color */
    padding: 10px; /* Add some padding around the maze for better aesthetics */
}

.cell {
    width: 50px; /* Adjust based on preference */
    height: 50px; /* Adjust based on preference */
    display: flex;
    align-items: center;
    justify-content: center;
}

.pathway {
    background-color: #333; /* Dark pathways */
}

.wall {
    background-color: #999; /* Distinguishable walls */
}

.interactive.mirror, .interactive.lens {
    cursor: pointer;
}

.mirror {
    background-image: url('https://i.imgur.com/Zfjw2I4.png');
    background-size: cover; /* Ensure the image covers the whole element */
    background-position: center; /* Center the background image */
}

.lens {
    background-image: url('https://i.imgur.com/rjXBpDC.png');
    background-size: cover; /* Ensure the image covers the whole element */
    background-position: center; /* Center the background image */
}
